<!DOCTYPE html>
<html>
  <head>
    <title>Check box</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <h1>Check box</h1>
    <h2>API para retornar numero box apos consultar senha box</h2>
  </body>
</html>