<p id="notice"><%= notice %></p>

<p>
  <strong>Numero:</strong>
  <%= @box.numero %>
</p>

<p>
  <strong>Cliente:</strong>
  <%= @box.lockercliente_id %>
</p>

<%= link_to 'Edit', edit_box_path(@box) %> |
<%= link_to 'Back', boxes_path %>
