<p id="notice"><%= notice %></p>

<p>
  <strong>Torre:</strong>
  <%= @status_box.torre %>
</p>

<p>
  <strong>N apto:</strong>
  <%= @status_box.n_apto %>
</p>

<p>
  <strong>Id page:</strong>
  <%= @status_box.id_page %>
</p>

<p>
  <strong>Senha:</strong>
  <%= @status_box.senha %>
</p>

<p>
  <strong>Envio:</strong>
  <%= @status_box.envio %>
</p>

<p>
  <strong>N encomendas:</strong>
  <%= @status_box.n_encomendas %>
</p>

<p>
  <strong>Box number:</strong>
  <%= @status_box.box_number %>
</p>

<p>
  <strong>Ativo inativo:</strong>
  <%= @status_box.ativo_inativo %>
</p>

<p>
  <strong>Lockercliente:</strong>
  <%= @status_box.lockercliente_id %>
</p>

<%= link_to 'Edit', edit_status_box_path(@status_box) %> |
<%= link_to 'Back', status_boxes_path %>
