<p id="notice"><%= notice %></p>

<h1>Lockerusuarios</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Cpf</th>
      <th>Celular</th>
      <th>Senha</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lockerusuarios.each do |lockerusuario| %>
      <tr>
        <td><%= lockerusuario.nome %></td>
        <td><%= lockerusuario.email %></td>
        <td><%= lockerusuario.cpf %></td>
        <td><%= lockerusuario.celular %></td>
        <td><%= lockerusuario.senha %></td>
        <td><%= link_to 'Show', lockerusuario %></td>
        <td><%= link_to 'Edit', edit_lockerusuario_path(lockerusuario) %></td>
        <td><%= link_to 'Destroy', lockerusuario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lockerusuario', new_lockerusuario_path %>
