<p id="notice"><%= notice %></p>

<h1>Lockerclientes</h1>

<table>
  <thead>
    <tr>
      <th>Nome empresa</th>
      <th>Site</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lockerclientes.each do |lockercliente| %>
      <tr>
        <td><%= lockercliente.nome_empresa %></td>
        <td><%= lockercliente.site %></td>
        <td><%= link_to 'Show', lockercliente %></td>
        <td><%= link_to 'Edit', edit_lockercliente_path(lockercliente) %></td>
        <td><%= link_to 'Destroy', lockercliente, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lockercliente', new_lockercliente_path %>
